site_name: Дурка
repo_url: https://github.com/dotcirill/Durka
repo_name: Github
theme: 
  name: material
  language: ru
  palette:
    scheme: default
    primary: green
    accent: indigo
  
  features:
    - instant
    - tabs

extra_css:
  - style.css
  - https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css

extra_javascript:
  - katex.js
  - https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js
  - https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js
  

markdown_extensions:
    - toc:
        permalink: true
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.highlight
    - pymdownx.arithmatex:
        generic: true

plugins:
    - search:
        lang:
          - ru
          - en

copyright: Дурка