.katex {
    line-height: 2 !important;
}

.stitle, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: bolder;
    border-bottom-style: dashed;
    border-bottom-color: seagreen;
    border-width: 1px;
}
